@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Nome para teste....</p>

<p>Aluno: @ViewData["nome"]</p>


<address>
    <strong> Teste também</strong> <a href="https://pornobae.com">Site educativo</a>

</address>